@media (max-width: 991px) {
    .header {
        margin: 0 15px;
    }
    .promo{
        &__wrapper {
            margin: 0 15px;
            margin-top: 90px;
        }
    }
    .advantages {
        &__wrapper {
            margin: 0 10px;            
        }
    }
    .consultation {
        &__descr {
            margin-left: 15px;
        }
    }
    .title {
        &_left {
            margin-left: 15px;
        }
    }
    .feed-form {
        margin-left: 15px;
    }
    .catalog {
        &__content {
            &_active {
                justify-content: center;
            }
        }
    }
    .reviews {
        &__item {
            padding: 0 10px 0 10px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 45px;
            align-items: center;
        }
        &__icons {
            flex-direction: row;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        &__icon {
            margin-top: 25px;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 20px;
                text-align: center;
                margin: 0;
            }
        }
        &__descr {
            text-align: center;
            margin: 40px 0 0 0;
        }
    
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tab {
            width: 140px;
            font-size: 14px;
        }
    }
    .reviews {
        &__user-photo {
            min-width: 145px;
            height: 145px;
            margin-right: 40px;
        }
    }
    .footer {
        &__info {       
            width: 270px;
            height: 160px;
            padding: 15px 16px 16px 16px;
        }
        &__addr {
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 14px;
        }
        &__phone {
            margin-bottom: 20px;
            font-size: 17px;
            line-height: 20px;
        }
        &__social {
            gap: 15px;
        }
    }
}
@media (max-width: 575px) {
    .header {
        flex-direction: column;
        margin: 0;
        &__contacts {
            align-items: center;
            margin-top: 15px;
        }
    }
    .promo {
        &__header {
            font-size: 20px;
            line-height: 30px;
        }
        &__subheader {
            font-size: 12px;
            line-height: 13px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            width: 0;
        }
        &__icon {
            margin-top: 10px;
        }
    }
    .title {
        font-size: 20px;
    }
    .consultation {
        padding-top: 45px;
        .title {
            &_left {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &__descr {
            font-size: 12px;
            line-height: 14px;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
    }
    .reviews {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__user-photo {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .footer {
        &__info {
            width: 228px;
            left: 0;
            transform: translateX(0);
        }
    }
    .modal {
        width: 290px;
        min-height: 375px;
        padding: 35px 25px 25px;
        &__close {
            top: 5px;
            right: 5px;
            font-size: 35px;
        }
        &__subtitle{
            font-size: 15px;
        }
        .feed-form {
            width: 100%;
            input {
                height: 40px;
            }
            .button {
                height: 45px;
                font-size: 14px;
            }
        }
    }
}
